<!DOCTYPE html>
<html>
<head>
	<title>Advisor Profile</title>
	<%= stylesheet_link_tag "scaffold" %>
	<%= stylesheet_link_tag "Profile", :media => "all" %>
	<%= javascript_include_tag :defaults %>
	<%= csrf_meta_tag %>
</head>
<body id="profile" >
	<div id="banner" >
		<%= @page_title || "UNM Advisor Profile" %>
	</div>
	<div id="columns" >
		<div id="side" >
			<%= link_to 'Open for sign up', researches_path %><br/>
			<%= link_to 'Active', researches_path %><br/>
			<%= link_to 'Closed', researches_path %><br/>
			<!--<%= link_to 'Students', students_path %><br/>-->
			<%= link_to 'New', researches_path %><br/>
		</div>
		<div id="main" >
			<%= yield %>
		</div>
	</div>
</body>
</html>
