<!DOCTYPE html>
<html>
<head>
	<title>Student Profile</title>
	<%= stylesheet_link_tag "scaffold" %>
	<%= stylesheet_link_tag "Profile", :media => "all" %>
	<%= javascript_include_tag :defaults %>
	<%= csrf_meta_tag %>
</head>
<body id="profile" >
	<div id="banner" >
		<%= @page_title || "UNM Student Profile" %>
  </div>
  <div id="container" class="container">

		<div id="main" >
			<%= yield %>
    </div>
	</div>
</body>
</html>
