<!DOCTYPE html>
 <html>
 <head>
 <title>Student Profile</title>
 <%= stylesheet_link_tag "scaffold" %>
 <%= stylesheet_link_tag "Profile", :media => "all" %>
 <%= javascript_include_tag :defaults %>
 <%= csrf_meta_tag %>
 </head>
 <body id="profile" >
 <div id="banner" >
 <%= @page_title || "UNM Student Profile" %>
 </div>
 <div id="columns" >
 <div id="side" >
 <a href="http://www...." >Search</a><br />
 <a href="http://www..../faq" >My Profile</a><br />
 <a href="http://www..../news" >My Projects</a><br />
 </div>
 <div id="main" >
 <%= yield %>
 </div>
 </div>
 </body>
 </html>
